.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  gap: 2rem;
}
h1{
  font-size: 40px;
}
.main {
  background-color: aqua;
  padding: 0.5rem;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: max-content;
  justify-content: center;
}
.num {
  /* background-color: rgb(203, 206, 209); */
  font-size: 40px;
  padding: 20px 40px;
}
button {
  /* background-color: transparent; */
  cursor: pointer;
  border-radius: 10px;
  border: none;
  font-size: 70px;
  font-weight: 700;
  padding: 0px 50px;
}
